decorator==4.0.4
Flask==0.10.1
humanize==0.5.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
praw==3.3.0
prawoauth2==0.3
ptyprocess==0.5
requests==2.8.1
simplegeneric==0.8.1
six==1.10.0
tornado==4.2
traitlets==4.0.0
update-checker==0.11
Werkzeug==0.11.2
wheel==0.38.1
